<!--<div class="x_panel">
  <div class="x_title">
    <h2>
    </h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <br>
     <table class="table">
            <thead>
                <tr>
                    <th>First Name<span><i class="fa  fa-sort-amount-asc"></i></span></th>
                    <th>Last Name<span><i class="fa  fa-sort-amount-desc"></i></span></th>
                    <th>Full Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users" >
                    <td>{{user.firstName}} </td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.fullName}}</td>
                    <td>
                      <a (click)="onEditClicked(user)" title="Edit"><i class="fa fa-pencil fa-lg"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
  </div>
</div>-->
<page>
    <page-header>Users</page-header>
    <page-content>
        <table class="table">
            <thead>
                <tr>
                    <th>First Name<span><i class="fa  fa-sort-amount-asc"></i></span></th>
                    <th>Last Name<span><i class="fa  fa-sort-amount-desc"></i></span></th>
                    <th>Full Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users" >
                    <td>{{user.firstName}} </td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.fullName}}</td>
                    <td>
                      <a (click)="onEditClicked(user)" title="Edit"><i class="fa fa-pencil fa-lg"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </page-content>
</page>